/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li a {
	text-decoration: none;
	color: black;
}

nav li a:hover {
	color: #B1663C;
}
nav li a.active {
	color: black!important;
	font-weight: 700;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
#portfolio {
    text-align: center;
}

#portfolio .title-container {
	display: flex;
    justify-content: center; 
    align-items: center;
}

#portfolio h2, #portfolio span {
    display: inline-block;
    margin: 0 10px;
}

.edit-icon-dark:before {
    content: "";
    width: 15.5px;
    height: 15.5px;
    background: url(../icons/edit-dark.svg) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; 
}

.edit-portfolio{
	text-decoration: none;
	color: black;
}

.edit-banner p {
    margin: 0;
    display: inline-flex;
    align-items: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #login {
    width: 50%;
    margin: auto;
}

#contact > *, #login > * {
    text-align: center;
}

#contact h2, #login h2 {
    margin-bottom: 20px;
}

#contact form, #login form, .modal-body form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input, #login input, .modal-footer input, .modal-body input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label, #login label, .modal-body label {
    margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

input[type="submit"]:hover{
	background-color: #0E2F28;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Filtres */
.filters {
	text-align: center;
	padding: 3em 0 5em 0;
}

.filter-button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	border: 1px solid #1D6154;
	display: inline-block; 
	text-align: center;
	border-radius: 60px;
	margin: 0 5px; 
	padding: 10px 20px; 
	cursor: pointer;
}

.filter-button:hover {
	background: #1D6154;
	color: white;
}

.filter-button:hover,
.filter-button.active {
	background: #1D6154;
	color: white;
}

/* Alertes */

#alert-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #cc1f1f;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.hidden {
    display: none!important;
}

/* Bannière d'édition */
.edit-banner { 
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.edit-icon:before {
    content: "";
    width: 15.5px;
    height: 15.5px;
    background: url(../icons/edit.svg) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle; 
    margin-right: 5px;
}

/* Modal d'édition */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper {
    width: 630px;
    max-width: 100%;
    max-height: 100%;
    background-color: #FFF;
    padding: 2em;
    position: relative;
    margin: auto;
    margin-top: 100px;
	animation: slideFromTop 0.5s both;
}

@keyframes slideFromTop {
    from { transform: translateY(-50px); }
    to {  transform: translateY(0px); }
}

.modal-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
	padding-bottom: 3em;
}

.modal-header .title-container {
	position: relative;
    top: 1em;
}

.modal-header .title-container h2 {
	color: black;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.modal-body {
	margin: 0 5em;
	margin-bottom: 5em;
}

.modal-body .photo-container {
	padding: 1em;
    text-align: center;
	border-radius: 3px;
	background-color: #E8F1F6;
    display: flex;
    flex-direction: column;
}

.modal-footer {
	margin: 0 5em;
}
.modal-footer .modal-footer-container {
	border-top: 1px solid #B3B3B3;
	text-align: center;
}

.modal-footer input {
	height: 36px;
	width: 235px;
}

.close-modal {
	cursor: pointer;
}

.close-modal:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(../icons/close-modal.svg) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle; 
}

.arrow-left-modal {
	cursor: pointer;
}

.arrow-left-modal:before {
    content: "";
    width: 15px;
    height: 15px;
    background: url(../icons/arrow-left-modal.svg) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle; 
}


.trash-modal:before {
    content: "";
    width: 15px;
    height: 15px;
    background: url(../icons/trash-modal.svg) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle; 
}


.modal-body article .card {
    border: none;
    padding: 0;
}

.card {
    background-color: white;
    padding: 5px;
	width: calc(20% - 10px); 
    margin: 5px;
    box-sizing: border-box;
	position: relative;
}

.trash-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    margin: 5px;
    background: #000;
    border-radius: 2px;
	border: 1px solid black;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash-button:before {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../icons/trash-modal.svg) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle;
}

.modal-body-articles {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
}

.modal-body article img {
    width: 100%;
    height: 100px;
    display: block;
}

.hide{
    display: none;
}

input.modal-btn:disabled {
    background-color: #A7A7A7;
}

.image-icon:before {
    content: "";
    width: 76px;
    height: 76px;
    background: url(../icons/image.svg) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle; 
    margin-right: 5px;
}



.modal-body select {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    appearance: none;  /* On enlève le style par défaut de l'élement */
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../icons/arrow-down.svg') no-repeat right center;
    background-position: right 20px center;
    padding: 15px;
    width: 100%;
}